.wrapperSelectInput {
    position: relative;
    padding: 20px 0;
    background-color: #283d98;
    width: 100%;
    height: auto;
    display: none;
    .selecet__input {
        width: 95%;
        margin: 0 auto;
        .input__navbar {
            display: flex;
            align-items: center;
            width: 100%;
            #select__category {
                padding-left: 15px;
                width: 25%;
                border-right-style: hidden;
                height: 45px;
                border: none;
                outline: none;
            }

            .searchProductsInp {
                max-width: 1000px;
                width: 100%;
                border-right-style: hidden;
                border-left-style: hidden;
                height: 45px;
                border: none;
                padding: 0 10px;
            }

            .navbar__btn {
                height: 45px;
                width: 80px;
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-left-style: hidden;
                border: none;
                outline: none;
                padding: 0 5px;
                cursor: pointer;
                background-color: #fcbe00;
                font-weight: 500;

                .searchSp {
                    margin: 0 5px;
                    font-size: 14px;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        #select__category {
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .wrapperSelectInput {
        display: block;
    }
}
