#favorite-list {
    padding: 50px 0;
    height: auto;
    .links {
        a {
            color: #666;
            font-size: 14px;
        }
        span {
            margin-left: 23px;
            font-size: 15px;
        }
    }
    .wishlist__empty {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .tbHeart {
            font-size: 120px;
            font-weight: 300;
            color: #666;
        }
    }

    .capter {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 25px;
        &::before {
            content: "";
            position: absolute;
            width: 98%;
            display: block;
            margin: auto;
            height: 1px;
            top: 30px;
            left: 0;
            background-color: rgba(188, 182, 182, 0.784);
        }

        &::after {
            content: "";
            position: absolute;
            width: 270px;
            height: 1px;
            background-color: #ffa200;
            top: 30px;
            left: 0;
        }
    }

    .favorite-products {
        display: flex;
        gap: 10px;
        padding: 25px 0;

        .favorite-card {
            position: relative;
            width: 230px;
            height: 340px;
            padding: 5px;
            cursor: pointer;
            outline: none;
            .image {
                width: 100%;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .title {
                    color: #0068c7;
                    font-size: 14px;
                }
                .stars {
                    .star {
                        color: goldenrod;
                    }
                }
            }

            .icons {
                position: absolute;
                top: 20px;
                // right: 10px;
                right: -100px;
                opacity: 0;
                visibility: hidden;
                display: flex;
                flex-direction: column;
                gap: 5px;
                transition: 0.3s linear;

                .icon {
                    position: relative;
                    display: block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    background-color: rgb(201, 201, 201);
                    z-index: 3;

                    &:hover {
                        background-color: #ffa200;
                        transition: 0.3s linear;
                    }
                }
            }

            .btn-card{
                width: 90%;
                line-height: 35px;
                height: 35px;
                text-align: center;
                background-color: #ffa200;
                border: none;
                margin-top: 10px;
                cursor: pointer;
            }

        
            &:hover .icons{
                visibility: visible;
                opacity: 1;
                right: 10px;
                transition: .2s linear;
            }
        }

        .status-hot {
            position: absolute;
            display: block;
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            top: 10px;
            left: 15px;
            font-size: 12px;
            // background-color: rgb(14, 164, 14);
            color: white;
        }

        .status-new {
            position: absolute;
            display: block;
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            top: 10px;
            left: 15px;
            font-size: 12px;
            color: white;
        }

        .product-percent {
            position: absolute;
            display: block;
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            top: 10px;
            left: 15px;
            font-size: 12px;
            color: white;
        }
    }
}
