
.register {
    height: 100%;
    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        color: #666;
        sup {
            color: red;
        }
        input {
            width: 100%;
            line-height: 40px;
            padding: 0 15px;
        }

        
        .btnLogin {
            height: 45px;
            line-height: 45px;
            background-color: #fcbe00;
            border: none;
            cursor: pointer;
            transition: 0.3s linear;

            &:hover {
                background-color: #fcb200;
                border-color: #fcb200;
                transition: 0.3s linear;
            }
        }
        .mainOr {
            display: flex;
            align-items: center;
            gap: 10px;
            .or {
                width: 50%;
                height: 1px;
                background-color: rgb(198, 195, 195);
            }
        }

        li {
            list-style: none;
            text-align: center;
            line-height: 45px;
            height: 45px;
            background-color: #263c97;
            transition: 0.2s linear;
            &:hover {
                background-color: #fcb200;
                transition: 0.2s linear;
            }

            a {
                color: white;
                font-size: 13px;
                font-weight: 500;
            }
        }

    }
}
