#details {
    padding: 50px;
    height: auto;
    .main-details {
        display: flex;

        .left-img {
            width: 40%;

            .image {
                height: auto;
                image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
